<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GerenciamentoDeClinica.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <applicationSettings>
        <GerenciamentoDeClinica.Properties.Settings>
            <setting name="GerenciamentoDeClinica_localhost_ClinicaService"
                serializeAs="String">
                <value>http://localhost:55868/ClinicaService.svc</value>
            </setting>
        </GerenciamentoDeClinica.Properties.Settings>
    </applicationSettings>
</configuration>