<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GerenciamentoDeClinica.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <applicationSettings>
        <GerenciamentoDeClinica.Properties.Settings>
            <setting name="GerenciamentoDeClinica_localhost_ClinicaService"
                serializeAs="String">
                <value>http://localhost:55868/ClinicaService.svc</value>
            </setting>
            <setting name="SaveLocation" serializeAs="String">
                <value>data.xml</value>
            </setting>
            <setting name="Root" serializeAs="String">
                <value>data</value>
            </setting>
            <setting name="Root_XPath" serializeAs="String">
                <value>/data</value>
            </setting>
            <setting name="Pesquisar_Medico" serializeAs="String">
                <value>pesquisar_medico</value>
            </setting>
            <setting name="Pesquisar_Medico_XPath" serializeAs="String">
                <value>/data/pesquisar_medico</value>
            </setting>
            <setting name="Pesquisar_CRM" serializeAs="String">
                <value>pesquisar_crm</value>
            </setting>
            <setting name="Pesquisar_CRM_Nome" serializeAs="String">
                <value>/data/pesquisar_medico/pesquisar_crm</value>
            </setting>
            <setting name="Pesquisar_Medicos_Salvos" serializeAs="String">
                <value>medicos_salvos</value>
            </setting>
            <setting name="Pesquisar_Medicos_Salvos_XPath" serializeAs="String">
                <value>/data/pesquisar_medico/medicos_salvos</value>
            </setting>
            <setting name="Medico" serializeAs="String">
                <value>Medico</value>
            </setting>
            <setting name="Pesquisar_Alterar_Medico" serializeAs="String">
                <value>/data/pesquisar_medico/Medico</value>
            </setting>
            <setting name="Cadastrar_Medico" serializeAs="String">
                <value>cadastrar_medico</value>
            </setting>
            <setting name="Cadastrar_Medico_XPath" serializeAs="String">
                <value>/data/cadastrar_medico</value>
            </setting>
            <setting name="Cadastrar_Convenio" serializeAs="String">
                <value>cadastrar_convenio</value>
            </setting>
            <setting name="Cadastrar_Convenio_XPath" serializeAs="String">
                <value>/data/cadastrar_convenio</value>
            </setting>
            <setting name="Pesquisar_Convenio" serializeAs="String">
                <value>pesquisar_convenio</value>
            </setting>
            <setting name="Pesquisar_Convenio_XPath" serializeAs="String">
                <value>/data/pesquisar_convenio</value>
            </setting>
            <setting name="Pesquisar_Convenios_Salvos" serializeAs="String">
                <value>convenios_salvos</value>
            </setting>
            <setting name="Pesquisar_Convenios_Salvos_XPath" serializeAs="String">
                <value>/data/pesquisar_convenio/convenios_salvos</value>
            </setting>
            <setting name="Convenio" serializeAs="String">
                <value>Convenio</value>
            </setting>
            <setting name="Paciente" serializeAs="String">
                <value>Paciente</value>
            </setting>
            <setting name="Pesquisar_Alterar_Paciente" serializeAs="String">
                <value>/data/pesquisar_paciente/Paciente</value>
            </setting>
            <setting name="Cadastrar_Paciente" serializeAs="String">
                <value>cadastrar_paciente</value>
            </setting>
            <setting name="Cadastrar_Paciente_XPath" serializeAs="String">
                <value>/data/cadastrar_paciente</value>
            </setting>
            <setting name="Pesquisar_Paciente" serializeAs="String">
                <value>pesquisar_paciente</value>
            </setting>
            <setting name="Pesquisar_Paciente_XPath" serializeAs="String">
                <value>/data/pesquisar_paciente</value>
            </setting>
            <setting name="Pesquisar_CPF" serializeAs="String">
                <value>pesquisar_cpf</value>
            </setting>
            <setting name="Pesquisar_CPF_Nome" serializeAs="String">
                <value>/data/pesquisar_paciente/pesquisar_cpf</value>
            </setting>
            <setting name="Pesquisar_Pacientes_Salvos" serializeAs="String">
                <value>paciente_salvos</value>
            </setting>
            <setting name="Pesquisar_Pacientes_Salvos_XPath" serializeAs="String">
                <value>/data/pesquisar_paciente/paciente_salvos</value>
            </setting>
        </GerenciamentoDeClinica.Properties.Settings>
    </applicationSettings>
</configuration>